# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for executing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

## Installing and Using Pandas

Installation of Pandas on your system requires NumPy to be installed, and if building the library from source, requires the appropriate tools to compile the C and Cython sources on which Pandas is built.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).

Once Pandas is installed, you can import it and check the version:

In [1]:
import pandas
pandas.__version__

'1.5.3'

# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provide a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [2]:
import numpy as np
import pandas as pd

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [3]:
counts=pd.Series([655,765,876,995,1000])
counts

0     655
1     765
2     876
3     995
4    1000
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [4]:
counts.values

array([ 655,  765,  876,  995, 1000], dtype=int64)

In [5]:
counts.index

RangeIndex(start=0, stop=5, step=1)

We can assign meaningful labels to the index, if they are available:

In [7]:
fruits=pd.Series([655,765,876,995,1000],index=['banana','apple','grapes','orange','pineapple'])
print(type(fruits))
fruits

<class 'pandas.core.series.Series'>

banana        655
apple         765
grapes        876
orange        995
pineapple    1000
dtype: int64

These labels can be used to refer to the values in the `Series`.

In [8]:
fruits['orange']

995

Notice that the indexing operation preserve the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [9]:
fruits[1]

765

We can give both the array of values and the index meaningful labels themselves:

In [11]:
fruits.name='counts'
fruits.index.name='guava'
fruits

guava
banana        655
apple         765
grapes        876
orange        995
pineapple    1000
Name: counts, dtype: int64

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [12]:
np.log(fruits)

guava
banana       6.484635
apple        6.639876
grapes       6.775366
orange       6.902743
pineapple    6.907755
Name: counts, dtype: float64

We can also filter according to the values in the `Series`:

In [13]:
fruits[fruits>876]

guava
orange        995
pineapple    1000
Name: counts, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [18]:
fruits_dic={'banana':655,'apple':765,'grapes':876,'oranges':995,'pineapple':1000}

print(fruits_dic)
print(type(fruits_dic))

pd.Series(fruits_dic)

{'banana': 655, 'apple': 765, 'grapes': 876, 'oranges': 995, 'pineapple': 1000}
<class 'dict'>

banana        655
apple         765
grapes        876
oranges       995
pineapple    1000
dtype: int64

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities.

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of  Python dictionary.
A dictionary is a structure that maps arbitrary keys to set of arbitrary values, and ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from Python dictionary:

## DataFrame: bi-dimensional Series with two (or more) indices

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). 

The DataFrame has both row and column index; it can be thought of as a dict of Series (all sharing the same index).

DataFrame's can be created in different ways. One of them is from dict's.

In [19]:
data={ "calories":[420,380,390],"duration":[50,40,45],"name":["rani","rajiv","raju"]}
print(data)

data=pd.DataFrame(data)
data

{'calories': [420, 380, 390], 'duration': [50, 40, 45], 'name': ['rani', 'rajiv', 'raju']}

   calories  duration   name
0       420        50   rani
1       380        40  rajiv
2       390        45   raju

To change the order of the columns:

In [20]:
df=pd.DataFrame(data,columns=["name","calories","duration"])
df

    name  calories  duration
0   rani       420        50
1  rajiv       380        40
2   raju       390        45

An `index` can be passed (as with Series), and passing column names not existing, will result in missing data.

Assigning values to new columns is easy

In [27]:
df['year']=2018
df

    name  calories  duration  year  series_aligned
0   rani       420        50  2018               0
1  rajiv       380        40  2018               1
2   raju       390        45  2018               2

In [28]:
df['series_aligned']=pd.Series(range(3),index=[0,1,2])
df

    name  calories  duration  year  series_aligned
0   rani       420        50  2018               0
1  rajiv       380        40  2018               1
2   raju       390        45  2018               2

Passing a dicts where the values are dicts is also possible

In [29]:
df.to_dict()

{'name': {0: 'rani', 1: 'rajiv', 2: 'raju'},
 'calories': {0: 420, 1: 380, 2: 390},
 'duration': {0: 50, 1: 40, 2: 45},
 'year': {0: 2018, 1: 2018, 2: 2018},
 'series_aligned': {0: 0, 1: 1, 2: 2}}

In [30]:
pd.DataFrame(df.to_dict())

    name  calories  duration  year  series_aligned
0   rani       420        50  2018               0
1  rajiv       380        40  2018               1
2   raju       390        45  2018               2

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [31]:
data=[{'a':i,'b':10+i}for i in range(5)]
print(data)

data=pd.DataFrame(data)
data

[{'a': 0, 'b': 10}, {'a': 1, 'b': 11}, {'a': 2, 'b': 12}, {'a': 3, 'b': 13}, {'a': 4, 'b': 14}]

   a   b
0  0  10
1  1  11
2  2  12
3  3  13
4  4  14

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [35]:
df=pd.DataFrame([{"aa":1,"bb":3},{"bb":4,"cc":6}])
print(df)
print(type(df))


df=df.to_dict()
df

    aa  bb   cc
0  1.0   3  NaN
1  NaN   4  6.0
<class 'pandas.core.frame.DataFrame'>

{'aa': {0: 1.0, 1: nan}, 'bb': {0: 3, 1: 4}, 'cc': {0: nan, 1: 6.0}}

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [38]:
pd.DataFrame(np.random.randint(12,15),
            columns=['foo','bar'],
            index=['a','b','c'])

   foo  bar
a   13   13
b   13   13
c   13   13

## The Pandas Index Object

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you take reference and modify data.
This ``Index`` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as ``Index`` objects may contain repeated values).
Those views have some interesting consequences in the operations available on ``Index`` objects.
As a simple example, let's construct an ``Index`` from a list of integers:

In [3]:
import pandas as pd
ind=pd.Index([20,4,56,8,79])
ind

Int64Index([20, 4, 56, 8, 79], dtype='int64')

### Index as immutable array

The ``Index`` in many ways operates like an array.
For example, we can use standard Python indexing notation to retrieve values or slices:

In [4]:
ind[2]

56

In [5]:
print(ind)
ind[::]

Int64Index([20, 4, 56, 8, 79], dtype='int64')

Int64Index([20, 4, 56, 8, 79], dtype='int64')

``Index`` objects also have many of the attributes familiar from NumPy arrays:

In [6]:
print(ind.size,ind.shape,ind.ndim,ind.dtype)

5 (5,) 1 int64

One difference between ``Index`` objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via normal means:

In [7]:
ind[0]=10
ind

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays, without the potential for side effects from inadvertent index modification.

# Operating on Data in Pandas

One of the essential pieces of NumPy is the ability to perform quick element-wise operations, both with basic arithmetic (addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.).
Pandas inherits much of this functionality from NumPy, and the ufuncs are key to this.

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc.
This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof with Pandas.
We will additionally see the well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [12]:
import numpy as np
abc=np.random.RandomState(10)
xyz=pd.Series(abc.randint(0,10,4))
xyz

0    9
1    4
2    0
3    1
dtype: int32

In [15]:
dfg=pd.DataFrame(abc.randint(0,10,(5,4)),columns=['A','B','C','D'])
dfg

   A  B  C  D
0  0  8  6  4
1  3  0  4  6
2  8  1  8  4
3  1  3  6  5
4  3  9  6  9

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved:*

In [17]:
np.exp(xyz)

0    8103.083928
1      54.598150
2       1.000000
3       2.718282
dtype: float64

Or, for a slightly more complex calculation:

In [19]:
np.sin(dfg*np.pi/4)

              A             B             C             D
0  0.000000e+00 -2.449294e-16 -1.000000e+00  1.224647e-16
1  7.071068e-01  0.000000e+00  1.224647e-16 -1.000000e+00
2 -2.449294e-16  7.071068e-01 -2.449294e-16  1.224647e-16
3  7.071068e-01  7.071068e-01 -1.000000e+00 -7.071068e-01
4  7.071068e-01  7.071068e-01 -1.000000e+00  7.071068e-01

## Universal Functions: Index Alignment

For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will align indices in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [2]:
import pandas as pd
area =pd.Series({'Alaska':1234,'texes':65467,'california':4567}, name='area')
print(area)

population=pd.Series({'california':467467,'texes':746346,'new york':6578676} ,name='population')
print(population)

Alaska         1234
texes         65467
california     4567
Name: area, dtype: int64
california     467467
texes          746346
new york      6578676
Name: population, dtype: int64

Let's see what happens when we divide these to compute the population density:

In [3]:
population / area

Alaska               NaN
california    102.357565
new york             NaN
texes          11.400339
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [9]:
area.index | population.index

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_1784\3572280633.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  area.index | population.index

Index(['Alaska', 'california', 'new york', 'texes'], dtype='object')

In [12]:
A=pd.Series([10,20,30],index=[0,1,2])
B=pd.Series([40,50,60],index=[1,2,3])

print(A)

print(B)
A+B

0    10
1    20
2    30
dtype: int64
1    40
2    50
3    60
dtype: int64

0     NaN
1    60.0
2    80.0
3     NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [17]:
A.add(B,fill_value=0)

0    10.0
1    60.0
2    80.0
3    60.0
dtype: float64

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Ufuncs: Operations Between DataFrame and Series

When performing operations between a ``DataFrame`` and a ``Series``, the index and column alignment is similarly maintained.
Operations between a ``DataFrame`` and a ``Series`` are similar to operations between two-dimensional and one-dimensional NumPy array.
Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

# Data wrangling
Getting the data in the shape that we want is the single most time consuming task in the life of the Data Scientist. Sometimes it can be the most frustrating.

## Merge operations
By merging we mean combining different data sets by linking rows with one or more keys. The basic syntax is very simple.

In [12]:
import pandas as pd
technologies={
    "courses":["spark","pyspark","python","pandas"],
    'fee':[20000,25000,22000,30000],
    'duration':['30days','40days','35days','50days']
}
index_lables=['r1','r2','r3','r4']
data3=pd.DataFrame(technologies,index_lables)

technologies2={
    "courses":["spark","java","python","go"],
    'discount':[2000,2500,1200,3000],
}
index_lables2=['r1','r6','r3','r5']
data4=pd.DataFrame(technologies2,index_lables2)

print(data3)
print(data4)

    courses    fee duration
r1    spark  20000   30days
r2  pyspark  25000   40days
r3   python  22000   35days
r4   pandas  30000   50days
   courses  discount
r1   spark      2000
r6    java      2500
r3  python      1200
r5      go      3000

In [13]:
data4

   courses  discount
r1   spark      2000
r6    java      2500
r3  python      1200
r5      go      3000

Let's say we want a dataset with year, literacy, province and population. We can create it from `df` and `df2`.

In [14]:
  # merge is smart! If there are overlapping names, it uses those for the merge
df5=pd.merge(data3,data4)
print(df5)

  courses    fee duration  discount
0   spark  20000   30days      2000
1  python  22000   35days      1200

If the column names are different, you need to specify them explicitely

In [20]:
df5=data3.merge(data4 ,on='courses')
print(df5)

df5=pd.merge(data3,data4, left_on='courses',right_on='courses')
print(df5)

  courses    fee duration  discount
0   spark  20000   30days      2000
1  python  22000   35days      1200
  courses    fee duration  discount
0   spark  20000   30days      2000
1  python  22000   35days      1200

What happened? Zuid Holland is weg!

By default `merge` does inner joins. If you want a different type of join, you can specify it.

In [29]:
df6=pd.merge(data3,data4, left_index=True,right_index=True)
print(df6)

df6=pd.merge(data3,data4, left_on=['courses','fee'],right_on=['courses','discount'])
print(df6)

   courses_x    fee duration courses_y  discount
r1     spark  20000   30days     spark      2000
r3    python  22000   35days    python      1200
Empty DataFrame
Columns: [courses, fee, duration, discount]
Index: []

Check this out:

In [39]:
print(data3)
print(data4)

df7=pd.merge(data3,data4, on='courses',how='left')
print(df7)

df8=pd.merge(data3,data4, on='courses',how='right')
print(df8)

df10=data3.merge(data4, on='courses',how='outer')

print(df10)

    courses    fee duration
r1    spark  20000   30days
r2  pyspark  25000   40days
r3   python  22000   35days
r4   pandas  30000   50days
   courses  discount
r1   spark      2000
r6    java      2500
r3  python      1200
r5      go      3000
   courses    fee duration  discount
0    spark  20000   30days    2000.0
1  pyspark  25000   40days       NaN
2   python  22000   35days    1200.0
3   pandas  30000   50days       NaN
  courses      fee duration  discount
0   spark  20000.0   30days      2000
1    java      NaN      NaN      2500
2  python  22000.0   35days      1200
3      go      NaN      NaN      3000
   courses      fee duration  discount
0    spark  20000.0   30days    2000.0
1  pyspark  25000.0   40days       NaN
2   python  22000.0   35days    1200.0
3   pandas  30000.0   50days       NaN
4     java      NaN      NaN    2500.0
5       go      NaN      NaN    3000.0

This was a many-to-many merge. Even though if you think about it, the behavior is what you expect, you might still not think about it and be surprised!

### Combining data with overlap
Sometimes some data is missing, and it can be "patched" with another dataset. Let's take a look.

In [47]:
import numpy as np
seri_a=pd.Series([np.nan,2.5,np.nan,3.5,4.5,np.nan],
                 index=['a','b','c','d','e','f'])
seri_b=pd.Series(np.arange(len(seri_a),dtype=np.float64),
                 index=['a','b','c','d','e','f'])

In [48]:
seri_a

a    NaN
b    2.5
c    NaN
d    3.5
e    4.5
f    NaN
dtype: float64

In [49]:
seri_b

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
dtype: float64

Let's say we want to update `a` with the values from `b`. The num-pythonic way to do that is

In [52]:
import numpy as np
pd.Series(np.where(pd.isnull(seri_a),seri_b,seri_a), index=seri_a.index)

a    0.0
b    2.5
c    2.0
d    3.5
e    4.5
f    5.0
dtype: float64

That's a bit verbose for something so simple. What about this:

In [53]:
seri_a.combine_first(seri_b)

a    0.0
b    2.5
c    2.0
d    3.5
e    4.5
f    5.0
dtype: float64